.mytitle {
    background-color: rgb(247, 224, 163);
    text-align: center;
    color: white;
    padding: 15px 0px 15px 0px;
    background-image: url('73578b94f836a03.jpg');
}

.search_movie {
    background-color: rgb(99, 22, 22);
    padding: 15px 0px 15px 0px;
    text-align: center;
    color: #f7f6f6;
}

.movie_card {
    size: 15px auto 30px auto;
    text-align: center;
}

.card_img {
    size: 15px 15px 15px 15px; 
}
/* 카드 이미지 사이즈는 왜 안될까요? */
